@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.fund{
    display:inline-flex;
    justify-content: end;
    align-items: end;
    color: rgb(0, 0, 0);
}
.curio{
    display: inline-flex;
}

.arte{
    display: inline-flex;
}

.obras{
    display: inline-flex;
    justify-content: right;
}

h1{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.slogam{
    display: flex;
    align-items: center;
    justify-content: center;
}

.items{
    color: rgb(0, 0, 0);
    font-size: x-large;
    display: flex;
    /* background-image: url(images.jpg); */
    gap: 20px;
}

body{
     font-family: "Bungee", sans-serif;


}