@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    margin: 0;
}

a{
    text-decoration:none;



}
.curio{
    display: inline-flex;

}

.arte{
    display: inline-flex;
}

.obras{
    display: inline-flex;
    justify-content: right;
}

h1{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.slogam{
    display: flex;
    align-items: center;
    justify-content: center
}

.items{
    color: rgb(255, 255, 255);
    font-size:large;
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url(navbarGrafite.jpg);
    gap: 20px;
    height: 200px;
}

body{
     font-family: "Bungee", sans-serif;
    
}

.curio{

}